.react-datepicker {
  border-radius: 12px;
  border: none;

  background-color: #f5f6fa;
  box-shadow: 0px 2px 5px #1071e027;
}

.react-datepicker__triangle::before {
  border-bottom-color: #f5f6fa !important;
}

.react-datepicker__triangle::after {
  border-bottom-color: #f5f6fa !important;
}

.react-datepicker__header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px !important;
  background-color: #f5f6fa;
  padding: 8px 0 0 0;
  border: none;
}

.react-datepicker__current-month {
  text-transform: uppercase;
}

.react-datepicker__day:hover {
  background-color: #dbdfea !important;
}

.react-datepicker__day-name {
  font-weight: bold;
  color: #1071e0;
}

.react-datepicker__day--selected {
  background-color: #ffa115;
  color: #fff !important;
}

.react-datepicker__day--selected:hover {
  background-color: #f19100 !important;
}

.react-datepicker__time {
  background-color: #f5f6fa !important;
  border-bottom-right-radius: 12px !important;
}

.react-datepicker__time-list-item {
  padding: 8px 0 !important;
  margin: 0 8px !important;
  border-radius: 3.8px;
}

.react-datepicker__time-list-item:hover {
  background-color: #dbdfea !important;
}

.react-datepicker__time-list-item--selected {
  background-color: #ffa115 !important;
  border-radius: 3.8px;
}

.react-datepicker__time-list-item--selected:hover {
  background-color: #f19100 !important;
}

.react-datepicker__time-container {
  border-left-color: #1071e0;
  border-bottom-right-radius: 12px !important;
}

.react-datepicker__day--outside-month {
  color: #9e9e9e;
}
