button.primary {
  color: #ffffff;
  border: none;
  padding: 0.5em 1.5em 0.5em;
  margin-right: .5em;

  text-align: center;
  vertical-align: middle;
  border-radius: .375rem;

  background-color: var(--theme-primary);
  
  &:hover {
    color: darken(#ffffff, 10%);
    background-color: var(--theme-colored-link-hover-color-primary);
  }

  &.icon {
    padding: 0.5em 0.5em;
  }

  svg {
    /* Place the icon on the text baseline. */
    position: relative;

    display: block;

    /* Prevent the icon from shrinking inside a flex container. */
    flex-shrink: 0;

    /* Scale the icon to match the font-size of the parent element. */
    height: 1.18rem;
    width: 1.18rem;

    /* Let the icon take whatever color the parent has. */
    fill: currentColor;

    /*
      * If the icon is used on a link, which has a color transition,
      * we can also use a transition on the fill value.
    */
    transition: fill .3s;
  }
}
